@font-face {
    font-family: Outfit;
    src: url(./assets/fonts/Outfit-VariableFont_wght.ttf);
}

* {
    font-family: Outfit;
}

body{
    margin: 0;
    /* background-color: grey; */
    /* background-image: url(./assets/icons/green-arrow-motivate.svg); */
    /* background-position: bottom; */
    /* background-repeat: no-repeat; */
    /* background-size: 80%; */
    /* background-color: rgb(190, 11, 11); */
    /* background-color: rgba(39, 39, 39,.4); */
    /* background-color: antiquewhite; */
    background-color: rgb(197, 196, 196);
    color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    /* filter: grayscale(80%); */
    /* color: white; */
}

button {
    border: none;
    background-color: rgba(0,0,0,0);
}


.header {
    position: sticky;
    top: 0px;
}

.header,
.footer {
    z-index: 1;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    background-color: rgb(39, 39, 39);
    padding: 0 1em;

    .logo {
        display: flex;
        align-items: center;
       .logo-name {
            font-weight: 700;
            font-size: 1.5em;
            color: aliceblue;
        }
        .logo-icon {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .icon-a {
            box-sizing: border-box;
            border: 10px solid rgba(0,0,0,0);
            border-top: 10px solid rgb(190, 11, 11);
            border-bottom: 10px solid aliceblue;
            height: 20px;
            width: 20px;
            border-radius: 1px 0 0 1px;
        }
        .icon-b {
            box-sizing: border-box;
            border: 10px solid rgba(0,0,0,0);
            border-left: 10px solid green;
            height: 20px;
            width: 20px;
            margin-bottom: 5px;
        }
    }

    .menu-button {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.7em;
        height: 3em;
        width: 3em;
        background-color: rgba(0,0,0,0);
        border: none;

        &:hover {
            background-size: 1.9em;
        }
    }

    .settings {
        background-image: url(./assets/icons/menu_24dp_FILL0_wght400_GRAD0_opsz24.svg);
    }
    
    .twitter {
        background-image: url(./assets/icons/twitter.svg);
    }
    
    .youtube {
        background-image: url(./assets/icons/youtube.svg);
    }
    
    .instagram {
        background-image: url(./assets/icons/instagram.svg);
    }
    
    .facebook {
        background-image: url(./assets/icons/facebook.svg);
    }
}

.landing-page {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
    text-align: center;
    gap: 3em;
    background-image: url(./assets/icons/drawing.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-clip: padding-box;

    .tagline {
        margin-top: 2em;
        margin-bottom: 1em;
        font-size: 2.2em;
        font-weight: 700;
        &::after{
            content: url(./assets/icons/green-arrow.svg);
            display: inline-block;
            margin-left: 5px;
        }
        &:nth-of-type(2):after{
            content: url(./assets/icons/red-arrow-target.svg);
            display: inline-block;
            margin-left: 5px;
        }
    
        &:nth-of-type(3):after{
            content: url(./assets/icons/green-red-arrow-choice.svg);
            display: inline-block;
            margin-left: 5px;
        }
    
    
        &:nth-of-type(4):after{
            content: url(./assets/icons/green-arrow-motivate.svg);
            display: inline-block;
            margin-left: 5px;
        }
    
        &:nth-of-type(5):after{
            content: url(./assets/icons/red-cube-stop.svg);
            display: inline-block;
            margin-left: 5px;
        }
    
        &:nth-of-type(6):after{
            content: url(./assets/icons/green-red-arrow-progress.svg);
            display: inline-block;
            margin-left: 5px;
        }
    }

    p {
        color: rgb(69, 69, 69);
        font-size: 1.1em;
        max-width: 25em;
    }

    .start-button {
        color: aliceblue;
        font-weight: 500;
        font-size: 1.4em;
        background-color: green;
        border: 0;
        border-radius: 3px;
        margin: 3em 0;
        padding: 5px 20px 8px 20px;
    }
}

.content-page {
    max-width: 1200px;
    flex-grow: 1;
    width: 100%;
    /* align-self: center; */
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: .8fr 6fr 3fr;
    /* flex-direction: column; */
    /* justify-content:start; */
    /* flex-wrap: wrap; */
}

.open-project-title {
    align-self: center;
    text-align: center;
    font-weight:700;
    font-size: 2.5em;
    grid-column: 2;
    /* order: -1; */
}

.open-project {
    grid-column: 2;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* align-content: stretch; */
    flex-wrap: wrap;
    /* padding: 0 1em; */
} 

.box-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 45%; */
    /* align-content: center; */
    padding: .5em .5em;
}

.inbox-status {
    color: brown;   
}

.outbox-status {
    color:green;
}

.box {
    align-self: center;
    flex-grow: 1;
    margin-top: 1em;
    border-radius: 10px;
    min-width: 160px;
    min-height: 230px;
    width: 90%;
    max-width: 352px;
    max-height: 400px;
    display: grid;
    /* grid-template-rows:  1fr 100%; */
    /* grid-template-rows: repeat(48,10px); */
    /* grid-template-columns: 1fr 100%; */
    padding: .5em;
    /* justify-content: center; */
    /* transform: rotateX(20deg); */
    /* &:hover {
        transform: rotate(-4deg);
    } */

}

.inbox {
    background-color: brown;
    border: 12px ridge rgba(190, 94, 94, .5);
    border-bottom: 6px solid rgb(75, 21, 21);
    box-shadow: inset  12px 13px 1px rgb(129, 39, 39), 
    inset  13px 15px 20px rgb(129, 39, 39), 
    inset  -1px -50px 50px rgba(255, 255, 255,.3), 
    15px 8px 1px rgba(0,0,0,.2);  
}

.outbox {
    background-color: darkolivegreen;
    border: 12px ridge rgba(112, 124, 92, .5);
    border-bottom: 6px solid rgb(46, 58, 25);
    box-shadow: inset  12px 13px 1px rgb(71, 90, 38),
     inset  13px 15px 20px darkolivegreen, 
     inset  -1px -50px 50px rgba(255, 255, 255,.3), 
     15px 8px 1px rgba(0,0,0,.2);
}


.inbox-status,
.outbox-status {
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    margin-top: .5em;
}

.task {
    background-color: aliceblue;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 3px 3px rgba(0,0,0,.4), 8px 3px rgba(0,0,0,.1), inset 25px 20px 30px rgba(0,0,0,.1);
    /* width: 90%; */
    /* height: 90%; */
    text-align: center;
    font-weight: 600;
    font-size: 2.2em;
    align-content: center;
    grid-area: 1/1/2/2;
    
    /* transition: background-image 1s; */

}

.outbox .task {
    background-image: url(./assets/icons/stamp-done.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position:50% 75%;
}


.task:nth-child(2){
   margin-bottom: 5px;
   margin-top: -5px;
}
.task:nth-child(3){
    margin-bottom: 10px;
    margin-top: -10px;
}
.task:nth-child(4){
    margin-bottom: 15px;
    margin-top: -15px;
}
.task:nth-child(5){
    margin-bottom: 20px;
    margin-top: -20px;
}
.task:nth-child(6){
    margin-bottom: 25px;
    margin-top: -25px;
}
.task:nth-child(7){
    margin-bottom: 30px;
    margin-top: -30px;
 }
 .task:nth-child(8){
     margin-bottom: 35px;
     margin-top: -35px;
     
 }
 .task:nth-child(9){
     margin-bottom: 40px;
     margin-top: -40px;
 }
 .task:nth-child(10){
     margin-bottom: 45px;
     margin-top: -45px;
 }
 .task:nth-child(11){
     margin-bottom: 50px;
     margin-top: -50px;
 }
 .task:nth-child(12){
    margin-bottom: 55px;
    margin-top: -55px;
}

.task:nth-child(n){
    transform: rotate(1deg);
}

.task:last-child{
    transform: rotate(4deg);
}

.project-bar {
    grid-column: 1/4;
    /* grid-row: 1/4 ; */
    /* background-color: rgba(0,0,0,.2); */
    /* width: 100vw; */
    /* overflow: hidden; */
    /* padding: .5em 0; */
    font-weight: 700;
    font-size: 1.2em;
    /* margin: 0 1em 1em 1em; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4em,8em));
    align-content: start;
    grid-auto-flow: row;
    justify-content: center;
    align-content: stretch;

    
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
    /* height: 75vh; */
}

.project-button {
    border:none;
    background-color: rgba(0,0,0,0);
    padding: .1em;
    margin: .2em 0 .2em 0;

    &:hover {
        .project-button-icon{
            padding-bottom: .3em;
        }
    }

    &:active {
        background-color: rgb(197, 196, 196);
        

    }
}

.project-button-icon{
    /* width: 100%; */
    height: 65%;
    min-height: 2.9em;
    background-image: url(./assets/icons/folder-brown.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
}
.project-button-title {
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
}

.project-button-icon.add-new {
    background-image: url(./assets/icons/folder-add.svg);
}

.tool-bar {
    /* order: -1; */
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    padding: 1em;
    /* gap: .5em; */
}

.tool-bar:last-of-type {
    grid-column: 3;
}

.tool {
    /* height:100%; */
    /* min-height: 1em; */
    background-repeat: no-repeat;
    background-size: 85%;
    background-position:center;
    /* padding: 1em; */
    &:hover {
        /* margin-left: .4em; */
        /* transition: .1s; */
        background-size: contain;
    }

}


.edit-project {
    background-image: url(./assets/icons/pencil-on-paper2.svg);
    /* grid-row: 1; */
}

.sort-priority{
    background-image: url(./assets/icons/priority-low.svg);
}

.sort-time {
    background-image: url(./assets/icons/time-slow.svg);
    grid-row: 3;
}

.motivation {
    background-image: url(./assets/icons/idea.svg);
    /* grid-row: 4; */
}

.stamp-void {
    background-image: url(./assets/icons/red-arrow.svg);
}

.stamp-done {
    background-image: url(./assets/icons/green-arrow.svg);
}



.archive-project {
    background-image: url(./assets/icons/archive-project.svg);
    /* grid-row: 5; */
}



@media screen and ( max-width: 910px){
    body {
        /* background-color: rgba(225, 0, 0,.7); */
        /* transition: 1s; */
    }
    .content-page {
        grid-template-columns:  2fr 10fr 2fr;
        grid-template-rows: 1fr 9fr 3fr ;
    }
    .project-bar {
        grid-row: 1/4;
        grid-column: 1;
        align-content: start;
        background-color: rgba(0,0,0,.2);
        /* gap: .2em; */
        padding-top: .5em;
    }

    .project-button {
        padding: .2em .5em .2em .5em;
    }
    .project-button-icon {
        height: 50%;
    }

    .project-button-title {
        font-size: 1em;
    }

    .tool-bar {
        grid-row: 2/3;
        grid-column: 3;
        grid-template-rows: repeat(8,1fr);
        gap:1em;
        align-content: start;
        padding-left: .5em;
        /* order: 0; */
        /* grid-template-columns: 1fr; */
        /* grid-template-rows: repeat(10,1fr); */
    }

    .tool-bar:last-of-type {
        /* grid-column: 3; */
        /* display: none; */
        /* z-index: 0; */
        grid-template-rows: repeat(3,1fr);
        grid-row: 3/4;
    }

    /* .tool-bar>.tool:hover {
        border: 2px white solid;
    } */

    .tool {
        /* margin: .5em; */
        /* padding: 0; */
        background-size: 90%;
        
        /* max-height: 1em; */
        max-width: 3em;

        &:hover {
            background-size: contain;
        }
    }

    /* .stamp-done {
        grid-row: 5;
    } */
    /* .stamp-void {
        grid-row: 4;
    } */

    .motivation {
        grid-row:2;
    }
    .archive-project {
        grid-row: 3;
    }
    .open-project {
        grid-column: 2/3;
        grid-row: 2/4;
        padding: 0 1em;
    }

    .open-project-title {
        grid-row: 1;
        grid-column: 2/4;
        font-size: 2em;
        align-self: start;
        padding-top: .2em;
        /* order: 0; */
    }

    .inbox-status,
    .outbox-status {
        font-size: 1.4em;
    }

}




@media screen and ( min-width: 1400px) {

    .tool {
        background-size: 65%;
    }

    .tool:hover {
        margin: 0;
        background-size:75%;
        
    }
    .tool::after,
    .tool::before {
        position: relative;
        font-weight: 700;
        font-size: 1.2em;
    }

    .tool::after {
        left: 5em;
    }

    .tool::before {
        right: 5em;
    }

    .edit-project::before {
        content: "Manage Project";
    }

    .sort-priority::before {
        content: "Sort by Priority";
    }

    .sort-time::before {
        content: "Sort by Time";
    }

    .stamp-void::before {
        content: "Abandon Task";
    }

    .stamp-done::before {
        content: "Complete Task";
    }

    .motivation::after {
        content: "Practical Advice";
    }

    .archive-project::after {
        content: "Archive Project"
    }

}

